<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366412539894-oogb6hprm0ou2egbehi061hfbkkqkt0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366412539894-oogb6hprm0ou2egbehi061hfbkkqkt0f</string>
	<key>API_KEY</key>
	<string>AIzaSyDdz348J36u-QUyhAHilXcY2lpxLCRHDXg</string>
	<key>GCM_SENDER_ID</key>
	<string>366412539894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VZ.CityBikers</string>
	<key>PROJECT_ID</key>
	<string>citybikers-be84c</string>
	<key>STORAGE_BUCKET</key>
	<string>citybikers-be84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:366412539894:ios:2c22cee208e0be3d</string>
	<key>DATABASE_URL</key>
	<string>https://citybikers-be84c.firebaseio.com</string>
</dict>
</plist>